Predict whether a person will have diabetes or not

https://www.youtube.com/watch?v=4HKqjENq9OU

In [58]:
import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import confusion_matrix
from sklearn.metrics import f1_score
from sklearn.metrics import accuracy_score

In [59]:
dataset = pd.read_csv('pima-indians-diabetes.csv')

print(len(dataset))
print(dataset.head())

768
   Pregnancies   Glucose   BloodPressure   SkinThickness   Insulin   BMI  \
0            6       148              72              35         0  33.6
1            1        85              66              29         0  26.6
2            8       183              64               0         0  23.3
3            1        89              66              23        94  28.1
4            0       137              40              35       168  43.1

    DiabetesPedigreeFunction   Age   Class
0                      0.627    50       1
1                      0.351    31       0
2                      0.672    32       1
3                      0.167    21       0
4                      2.288    33       1

In [60]:
# Replace zeroes
zero_not_accepted = ['Glucose', 'BloodPressure', 'SkinThickness', 'BMI', 'Insulin']

for column in zero_not_accepted:
    dataset[column] = dataset[column].replace(0, np.NaN)
    mean = int(dataset[column].mean(skipna=True))
    dataset[column] = dataset[column].replace(np.NaN, mean)

dataset.head()

0      148
1       85
2      183
3       89
4      137
5      116
6       78
7      115
8      197
9      125
10     110
11     168
12     139
13     189
14     166
15     100
16     118
17     107
18     103
19     115
20     126
21      99
22     196
23     119
24     143
25     125
26     147
27      97
28     145
29     117
      ...
738     99
739    102
740    120
741    102
742    109
743    140
744    153
745    100
746    147
747     81
748    187
749    162
750    136
751    121
752    108
753    181
754    154
755    128
756    137
757    123
758    106
759    190
760     88
761    170
762     89
763    101
764    122
765    121
766    126
767     93
Name:  Glucose, Length: 768, dtype: int64

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Class
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1